body{font-family: 'Poppins', sans-serif;
}
/* .....products style start ..... */
h3{
    margin-top: 70px;
    
    margin-left: 120px;
}
.products {
    display: flex;
    justify-content: center;

}
.discription{
    margin-right: 250px;
    margin-top: 30px;
}
.product img{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
button{ 
    border-color: magenta;
    background-color: magenta;
    color: aliceblue;}
   /* ..... products style end ...... */
/* ...collection style start ....... */
.start{
    margin-left: 450px; 
margin-bottom: 80px;}
.popular{
    background-color: rgb(173, 181, 196);
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;
}
.collections{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-left: 40px;
        margin-right: 50px;
        grid-column-gap: 0;
        grid-row-gap: 20px;}
    .collections img{
        width: 150px;
    margin-top: 10px;}
    .microphone img{
    height: 90px;
}
.tripod{
    background-color: aliceblue;
    height: 280px;
    width: 170px;
    }
    .microphone{
        background-color: aliceblue;
    height: 280px;
    width: 170px;}
.airbuds{
    background-color: aliceblue;
    height: 280px;
    width: 170px;
    }
    .drone{
        background-color: aliceblue;
    height: 280px;
    width: 170px;
    }
    .lightsetup{
        background-color: aliceblue;
    height: 280px;
    width: 170px;
    }
    .photoshoot{
        background-color: aliceblue;
    height: 280px;
    width: 170px;
    }
    
    
    

 i{
        color: chocolate;}
footer{
    margin-top: 100px;
    text-align: center;
    background-color: darkblue;
}