h3{
    position: absolute;
    margin-left: 90px;
    margin-top: 70px;
    font-size: 19px;}
    .products{
        display: flex;
    }

    h1{
        position: absolute;
        margin-top: 200px;
        margin-left: 90px;

    }
    p{
        position: absolute;
        margin-top: 250px;
        margin-left: 90px;
    }
button{
    background-color: magenta;
    position: absolute;
    margin-top: 310px ;
    margin-left: 90px;
    color: white; 
    font-size: 15px;
    

}
img{
    border-radius: 50px;
    margin-left: 700px ;
    width: 200px;
    margin-top: 200px ;
    
}
    

    
      

    body{
        font-family: 'Poppins', sans-serif;}
    